#a {
	background: #9E9E9E;
	text-align: center;
	padding: 30px;
	color: white;
}

.sec2, .sec1, .sec3 {
					float: left;
					width: 50%;
					margin: 40px;
					padding: 70px 70px 60px 60px;
					height: 250px;
					font-size: 20px;
					color: white;
}

.tue {
	background: #9e9e9eeb;
	margin right: 30px;
	width: 10%; 

}
.mon {
	background: #9e9e9eeb;
	width: 10%;
}
.day {
	background: #9e9e9eeb;
	width: 15%;
	text-align: center;
}
.e, .g, .h {
		 	background: #867b7bb8;
		 
}
#b {
	clear: left;
	text-align: center;
	font-size: 200%;
	background: #867b7b;
	padding: 20px;
	color: white;
}

body {
	background: #000000b5;
}

.dog {
	padding: 30px;
	

}
.cat {
	padding: 15px;
}
.rat {
	padding: 15px;
}