#a {
	background: aliceblue;
	color: black;
	text-align: center;
	padding: 20px;
}
#b {
	background: #aeaec8;
	padding: 5px 5px 0px 0px;
}

.sec2, .sec1, .sec3 {
					float: left;
					width: 50px;
					margin: 70px;
					padding: 40px;
					height: 100px;
}

.tue {
	background: yellow;
	padding: 70px 50px 20px;

}
.mon {
	background: aliceblue;
	padding: 50px;
}
.day {
	background: #ffeb3b87;
}
.e, .g, .h {
			border: 1px solid #795548;
}